<%# Homepage Buttons %>

<button class="dark-pink-btn">
   <%= link_to "Receive a wig", "#" %>
</button>

<button class="transparent-pink-btn">
   <%= link_to "Donate a wig", "#" %>
</button>

<%# Individual wig show button %>

<button class="dark-pink-btn">
   <%= link_to "Rekup this wig", "#" %>
</button>

<%# Filtering buttons in index page %>

<button class="dark-green-btn">
   <%= link_to "Color", "#" %>
</button>

<button class="dark-green-btn">
   <%= link_to "Size", "#" %>
</button>

<button class="dark-green-btn">
   <%= link_to "Type", "#" %>
</button>

<button class="dark-green-btn">
   <%= link_to "Length", "#" %>
</button>
