<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <%# Burger menu button %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="color: white;"></span>
    </button>

    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "Logo-Blanc-sans-texte.png" %>
    <% end %>
    <%# End of Burger Menu Button %>

    <%# Log in area %>
    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, method: :delete, data: { turbo_method: :delete } do %>
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
      <% end %>
    <% else %>
      <!--li class="nav-item"-->
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      <!--/li-->
    <% end %>
   <%# End of Login Area %>
  </div>
</div>

<%# Collapsable Burger Menu %>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "Gallery", wigs_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Donner une perruque", new_donation_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "A propos de nous", about_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Foire au questions", faq_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Blog", "#", class: "nav-link" %>
          </li>

      </ul>
</div>
<%# End of Collapsable Burger Menu %>
