<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <%# Burger menu button %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="color: white;"></span>
    </button>

    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "Logo-Blanc-sans-texte.png" %>
    <% end %>
    <%# End of Burger Menu Button %>

    <%# Log in area %>

        <% if user_signed_in? %>
        <li class="nav-item dropdown">
                <%= image_tag current_user.avatar_url, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" id="avatar-dropdown">
                  <%= link_to "Log out", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
                </div>
        </li>
        <% else %>
          <!--li class="nav-item"-->
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <% end %>

   <%# End of Login Area %>
  </div>
</div>

<%# Collapsable Burger Menu %>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "Index", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "About Us", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "FAQ & Tutorials", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Chatroom", "#", class: "nav-link" %>
          </li>
      </ul>
</div>
<%# End of Collapsable Burger Menu %>
