<%# Donation Form %>

<main class="form-donation">

  <div class="donation-header">
      <h1 class="donation-heading">Donate A Wig</h1>
      <div class="donation-underline"></div>
  </div>

  <div class="container d-flex justify-content-center">
    <%= simple_form_for(@donation) do |f| %>
      <%= f.input :donator_email %>
      <%= f.input :description, as: :text %>
      <%= f.input :photo_1, as: :file %>
      <%= f.input :photo_2, as: :file %>
      <%= f.input :photo_3, as: :file %>
      <%= f.submit 'Confirm donation', class: "btn btn-success" id: "donation-submit-btn" %>
    <% end %>
</div>

</main>
