<%# Donation Form %>

<main class="form-donation">

  <div class="donation-header">
      <h1 class="donation-heading">Donate A Wig</h1>
      <div class="donation-underline"></div>
  </div>

  <div class="container d-flex justify-content-center" data-controller="alert">
    <%= simple_form_for(@donation,
      html: {
        data: {
          controller: "alerts",
          alert_icon_value: "warning",
          alert_title_value: "Are your sure?",
          alert_html_value: "Create new post.",
          confirm_button_text: "All good!",
          show_cancel_button: true,
          cancel_button_text: "Cancel",
          action: "submit->alert#initSweetalertDonation",
          turbo: false
        } }) do |f| %>
      <%= f.input :donator_email %>
      <%= f.input :description, as: :text %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.submit 'Confirm donation', class: "btn btn-success", id: "donation-submit-btn", style: "color: white;" %>
    <% end %>
  </div>

  <div class="link-container">
     <%= link_to "Homepage", root_path %>
  </div>

</main>
