<div class="card mt-23" id="order-recap">

      <div class= "img-container-recap w-50">
          <%= image_tag "Wig 1 - front.jpg", alt:"photo of wig", class: "index-img" %>
      </div>
      <div class="card-body" id="individual-wig-recap">
          <h6 class="card-title mb-4 fw-bold">Couleur : &nbsp; <span><%=  @wig.color.name %></span></h6>
          <h6 class="card-title mb-4 fw-bold">Taille : &nbsp; <span><%=  @wig.size.name %></span></h6>
          <h6 class="card-title mb-4 fw-bold">Type : &nbsp; <span><%=  @wig.texture.name %></span></h6>
          <h6 class="card-title mt-4 fw-bold">Longueur : &nbsp; <span><%=  @wig.length.name %></span></h6>
      </div>
</div>
