<main class="individual-wig-recap">

  <div class="container d-flex flex-column align-items-center order-recap-container">

    <div class="d-flex align-items-center mb-1 mt-3">
        <h2>Récapitulatif de ma commande</h2>
    </div>

    <div class="h3-text">
          <h3><strong>Je souhaite récevoir la perruque ci-dessous</strong> </h3>
    </div>

    <%= render "shared/order-recap-card" %>
  </div>

  <div class="container d-flex flex-column align-items-center delivery">
      <div class="h3-text">
         <h3><strong>Je choissis mon mode de livraison </strong></h3>
      </div>

    <div class="textblock-recap">
        <p>Les membres de <strong>Rekuperuk</strong> sont à votre disposition du lundi au vendredi de 9h00 à 16h00. Nous prenons tout notre temps pour vous conseiller au mieux par rapport à votre besoin. Un envoi par la poste est également possible.</p>
    </div>
  </div>

  <div class="container delivery-options">
      <%= link_to new_wig_acquisition_path(@wig, delivery: true), class: "post-office-img" do %>
        <div class="post-office">
            <%= image_tag "Colis.png", alt: "paper plane image" %>
            <p>Envoi par voie postale</p>
        </div>
      <% end %>

        <%= link_to new_wig_acquisition_path(@wig, delivery: false), class: "delivery-on-site-img" do %>
          <div class="on-site">
            <%= image_tag "Colis-live.png", alt: "hand to hand image" %>
          <p>Récupération sur place</p>
          </div>
        <% end %>
  </div>
      <div class="back-link-container-order-recap">
          <%= link_to "Retour", wig_path(@wig), class: "back-link-order-recap" %>
      </div>


</main>
