<main class="individual-wig-recap">
  <div id="prev-btn-container">
      <button class="dark-green-back-btn" id="prev-btn">
        <%= link_to wig_path(@wig) do %>
          <i class="fa-solid fa-arrow-left"></i>
        <% end %>
      </button>
  </div>

<div class="container d-flex flex-column align-items-center">
<h3>Récapitulatif de ma commande</h3>
<p>Je souhaite récevoir la perruque ci-dessous</p>

  <%= render "shared/order-recap-card" %>

</div>

<div class="container d-flex flex-column align-items-center">
<div class="card" id="order-recap">
  <div class="delivery-options">

    <div class="post-office">
      <%= link_to new_wig_acquisition_path(@wig, delivery: true), class: "post-office-img" do %>
        <%= image_tag "paper-plane.png", alt: "paper plane image" %>
        <p>je souhaite recevoir ma perruque par voie postale</p>
      <% end %>
    </div>
  </div>
</div>
</div>

<div class="card" id="order-recap">
    <div class="on-site">
      <%= link_to new_wig_acquisition_path(@wig, delivery: false), class: "delivery-on-site-img" do %>
        <%= image_tag "giving.png", alt: "hand to hand image" %>
      <p>je souhaite prendre RDV pour récuperer ma perruque sur place</p>
      <% end %>
    </div>
  </div>
</main>
