<main class="Blog">
  <section>
    <div class="section-header">
        <h1 class="section-heading">Blog</h1>
        <div class="underline"></div>
    </div>

    <div class="blog-links-container">
      <%= link_to "Add a post", new_post_path %>
    </div>


  <div class="blog-card-wrapper">
    <div class="blog-card-container">
        <% @posts.each do |post| %>
              <div class="card blog-card" style="width: 20rem; ">
                  <%= cl_image_tag post.photo.key, alt:"photo of women", class: "index-img" %>
                  <div class="card-body">
                    <div class="blog-title-container">
                      <h5 class="card-title"><%= post.title %></h5>
                    </div>

                      <p class="card-text"><%= post.description %></p>
                  </div>

                  <div class="card-body comment-icon-container d-inline-flex gap-1">
                    <a href="#collapseExample" data-bs-toggle="dropdown" class="card-link" role="button" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa-regular fa-comment"></i>
                    </a>
                    <%# Dropdown menu when clicking on comment icon %>
                    <ul class="dropdown-menu blog-comments-dropdown">
                      <% post.comments.each do |comment| %>
                        <li><p class="dropdown-item"><%= comment.content %></p></li>
                       <% end %>
                    </ul>
                    <%# End of dropdown menu when clicking on comment icon %>

                  <%# Link triggering modal to write a comment %>
                    <a href="#" class="card-link" data-bs-toggle="modal" data-bs-target="#exampleModal<%=post.id%>">
                      <i class="fa-solid fa-pen-to-square"></i>
                    </a>

                    <!-- Modal to write a comment -->
                    <div class="modal fade write-comment-modal" id="exampleModal<%=post.id%>" tabindex="-1" aria-labelledby="exampleModal<%=post.id%>Label" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-6" id="exampleModal<%=post.id%>Label">Laisser un commentaire pour :<br>
                            <span> <%= post.title %></span> </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body d-flex justify-content-center rounded-4">

                            <%= simple_form_for [post, @comment] do |f| %>
                              <%= f.input :content , input_html: {row: 20, column: 15}%>
                              <div class="modal-footer">


                              <%= f.submit 'Soumettre', class: "submit-post" %>
                              <button type="button" class="close-btn" data-bs-dismiss="modal">Fermer</button>

                            <% end %>
                          </div>


                          </div>


                        </div>
                      </div>
                    </div>
                  <%# End of Modal to write a comment %>

                    <a href="#" class="card-link">
                      <i class="fa-regular fa-heart"></i>
                    </a>
                  </div>
              </div>
          <% end %>

      </div>
    </div>
  </section>
</main>

<%# Write a comment %>


<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
