<% if @acquisition.delivery == true %>
  <h2>Vos informations de livraison</h2>

  <%= simple_form_for [@wig, @acquisition], url: wig_acquisitions_path(@wig) do |f| %>
    <%= f.input :delivery_name, label: "Nom de livraison" %>
    <%= f.input :delivery_address, label: "Adresse de livraison (N° + rue)" %>
    <%= f.input :delivery_zipcode, label: "Code postal" %>
    <%= f.input :city, collection: Acquisition::CITIES, include_blank: 'Ville' %>
    <%= f.input :medical_reasons, as: :boolean, label: "Je certifie sur l'honneur avoir besoin d'une perruque pour des raisons médicales", required: true %>
    <%= f.button :submit, "Ok", data: { confirm: "Notez que vous ne pouvez acquérir qu'une perruque. Confirmez-vous votre demande ?" } %>
  <% end %>

<% else %>
    <h2>Vos disponibilités pour un retrait</h2>

    <p>L'association Rekuperuk est ouverte du lundi au samedi de 10h à 17h.<br>Retrouvez-nous au <strong>2 avenue des Saules, 59160 Lille</strong><br> Metro 2 - Canteleu,  <i class="fa-solid fa-person-walking"></i> 8 min</p>

    <%= simple_form_for [@wig, @acquisition], url: wig_acquisitions_path(@wig) do |f| %>
      <%= f.input :date_time,
                as: :string,
                input_html: { data: { controller: "flatpickr", flatpickr_target:"slot" } } %>
      <%= f.input :medical_reasons, as: :boolean, label: "Je certifie sur l'honneur avoir besoin d'une perruque pour des raisons médicales", required: true %>
      <%= f.button :submit, "Ok", data: { confirm: "Notez que vous ne pouvez acquérir qu'une perruque. Confirmez-vous votre demande ?" } %>
    <% end %>

<% end %>
