<!DOCTYPE html>
<html>
  <head>
    <title>Rekuperuk</title>
    <%= favicon_link_tag asset_path('Logo centré fond cercle-25.png') %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= javascript_importmap_tags %>
    <%= render 'shared/ios_pwa_links' %>
  </head>

  <body>
    <% if current_page?(root_path)%>
      <%= yield %>
    <% else %>
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>
      <%= yield %>
      <% unless current_page?(filters_path) %>
        <%= render "shared/footer" %>
      <% end %>
    <% end %>
  </body>
</html>
